.login_moudel {
  height: 100%;
  position: relative;
  width: 100%;
  // background-image: url('./bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-app-region: drag;

  .login-form {
    max-width: 300px;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-app-region: no-drag;
  }

  .login-form-forgot {
    float: right;
  }

  .rember-me {
    float: left;
  }

  .login-form-button {
    width: 100%;
  }

  .ant-form-item-explain.ant-form-item-explain-error {
    text-align: left;
  }
}
