.login_moudel {
  -webkit-app-region: drag;
  // background-image: url('./bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
  /* 阻止文字选中 */
  user-select: none;
  width: 100%;

  .login-form {
    -webkit-app-region: no-drag;
    max-width: 300px;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
  }

  .login-form-forgot {
    float: right;
  }

  .rember-me {
    float: left;
  }

  .login-form-button {
    width: 100%;
  }

  .ant-form-item-explain.ant-form-item-explain-error {
    text-align: left;
  }

  .lang-switch {
    -webkit-app-region: no-drag;
    bottom: 0;
    cursor: pointer;
    position: absolute;
    right: 10px;
  }
}
